---
layout: archive
---


<h1 class="page__title">About</h1>

<p>Learning and problem-solving are my lifelong passions. I love absorbing information and exploring new technologies, constantly looking out for the brilliant life hacks that makes life easier.</p>
<p>My mind is always working to create the most efficient solution to a problem, whether it be mapping in my brain and re-evaluating the quickest route to work or setting up an energy efficient household sustained by solar power alone. My mind is constantly working. I gravitate towards statistical analysis because I find that coding real-life problems into real solutions is one of the few times my problem-solving brain is satiated; I lose track of time and am fully immersed in the task-at hand.</p>
<p>Because of my background in engineering, and probably having grown up on a farm, my problem solving tends to be very practical, even when applying it in code.</p>
<p>In my free time, I am an avid hiker, mountain biker, cross-fit enthusiast, and on-and-off pilot. It takes a lot of focus, confidence, and trust in the equipment to be 7000 feet in the air wrapped in a fiberglass cocoon which could take me all the way back down in seconds.</p>
<p>I found that your physical well-being, is intricately connected with every other aspect of life, intellectually, emotionally, spiritually; and strangely enough, cross-fit has taught me a lot about my approach to life in general, my ability to grow stronger, and pushing myself out of my comfort zone to achieve my goals.</p>



<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
